@charset "utf-8";
/* 문서 기본 셋팅 */
html{
    font-family: 'Noto Sans KR', sans-serif;    
    font-size:14px;
}
body{
    background-color:white;
    overflow-x: hidden;
    color:rgb(29,29,31);
    letter-spacing: -0.05em;
}
p{
    line-height:1.6;
}
a{
    text-decoration: none;
    color:rgb(29,29,31);
}
/* 문서 기본 셋팅 */


.global-nav{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:44px;
    z-index: 10;
    padding: 0 1rem;
}
.local-nav{
    position:absolute;
    top:45px;
    left:0;
    width:100%;
    height:52px;
    z-index: 11;
    padding:0 1rem;
    border-bottom: 1px solid #ddd;
}
.local-nav-sticky .local-nav{
    position:fixed;
    top:0;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter : saturate(180%) blur(15px); /*뿌옇게 보이는 필터 효과*/
}
.local-nav-links,
.global-nav-links{
    display:flex;
    align-items: center;
    height:100%;
    margin:0 auto;
    max-width:1000px;
}
.global-nav-links{
    justify-content: space-between;
}
.local-nav-links a:not(.product-name){
    margin-left:2em;
    font-size:0.8rem;
}
.product-name{
    margin-right:auto;
    font-size:1.4rem;
    font-weight: bold;
}

.scroll-section{
    /* border:3px solid red; */
    position:relative;
    padding-top: 50vh;
}

#scroll-section-0 h1{
    position:relative;
    top:-5vh;
    z-index: 10;
    font-size:4rem;
    text-align: center;
}

.main-message{
    display:flex;
    justify-content: center;
    align-items: center;
    height:3em;
    top:35vh;
    opacity: 0;
    margin: 5px 0;
    font-size:2.5rem;
}
.main-message p{
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}

.description{
    font-size:1.2rem;
    max-width:1000px;
    margin: 0 auto;
    color:#888;
    padding: 0 1rem;
}
.description strong{
    float: left;
    font-size:3rem;
    margin-right:0.2em;
    color:rgb(29,29,31);
}
.main-message small{
    display:block;
    font-size:1.2rem;
    margin-bottom:0.5em;
}
#scroll-section-2 .main-message{
    font-size:3.5rem;
}

.desc-message{
    font-weight: bold;
    width:50%;
    opacity: 0;
}
.pin{
    width:1px;
    height:100px;
    background-color:rgb(29,29,31);
}
#scroll-section-2 .desc-message.b{
    top:10%;
    left:40%; 
}
#scroll-section-2 .desc-message.c{
    top: 20%;
    left: 60%;
}
.mid-message{
    font-size:2rem;
    max-width: 1000px;
    margin:0 auto;
    color:#888;
    padding:0 1rem;
}
.mid-message strong{
    color:rgb(29,29,31);
    display: block;
}
.canvas-caption{
    color:#888;
    max-width: 1000px;
    margin:0 auto;
    margin-top:-8em;
    padding: 0 1rem;
    text-align: center;
    font-size:1.2rem;
}
.footer{
    display:flex;
    align-items: center;
    justify-content: center;
    height:7rem;
    color:white;
    font-size:1.2rem;
    background-color:rgb(243, 134, 62);
}

.sticky-elem{
    display:none;
    position:fixed;
    width:100%;
    left:0;
    /* top:0; */
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem{
    display:block;
}

.sticky-elem.sticky-elem-canvas{
    top:0;
    height:100%;
    /* background-color:#888; */
}
.sticky-elem-canvas canvas{
    position:absolute;
    left:50%;
    top:50%;
    /* border:5px solid red; */
}

#scroll-section-3{
    /* border-top:2px solid red; */
    display:flex;
    flex-direction: column;
    align-items: center;
}

.image-blend-canvas.sticky{
    position:fixed;
    top:0;
    /* left:0; transform이 적용된것이라 left는 0을 주면 안된다.*/
}
.image-blend-canvas.rel{
    position:relative;
    top:0;
    /* left:0; transform이 적용된것이라 left는 0을 주면 안된다.*/
}

/*min-width의미: 1024px 이상일때 아래 css들을 적용한다.*/
@media (min-width:1024px){ 
    #scroll-section-0 h1{
        font-size:9vw;
    }
    .main-message{
        font-size:4vw;
    }
    .description{
        padding:0;
        font-size:2rem;
    }
    .description strong{
        font-size:6rem;
    }
    #scroll-section-2 .main-message{
        font-size:6vw;
    }
    #scroll-section-2 .desc-message.b{
        top:20%;
        left:53%; 
    }
    #scroll-section-2 .desc-message.c{
        left:55%; 
    }
    #scroll-section-2 .main-message small{
        font-size:1.5vw;
    }
    .desc-message{
        width:20%;
    }
    .mid-message{
        font-size:4vw;
        width:1000px;
    }
    .canvas-caption{
        font-size:2rem;
    }
}